@font-face {
   font-family: 'TAIPEISANSTCBETA-REGULAR';
   font-display: swap;
   src: url('file:///Users/yangchang/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-07-12_160246/fonts/TAIPEISANSTCBETA-REGULAR/font.TTF');
}
